@charset "UTF-8";
header{
	display:flex;
	background-color: #EFEBE9;
	margin:0 0 10px ;
	padding: 10px;
	height: 5vh;
	text-align: center;
}
header h1{
	margin: 0 auto ;
	text-align:center;
	font-size:15px;
}
header h1 button#menu{
	margin:auto 0 auto 0 ;
}

div#topside{
	height: 65vh;
	padding: 5px;
	display: flex;
	gap: 5px;
	flex-direction: row;
}
div#main{
	width: 70vw;
	height: 65vh;
	display: flex;
	flex-direction: column;
}
div#imageBox{
	width: 70vw;
	height: 40vh;
}
div#explanation{
	display:flex;
	flex-direction: column;
}
div#makeClass{
	display:flex;
	flex-direction: column;
}
div#inputradio{
	display:flex;
}
table{
    border-collapse: collapse; /* セルのボーダーを重ねて表示 */
    margin:0 auto ;
    width: 40vw; /* テーブルの幅を100%に設定 */
    border: 1px solid brown; /* ボーダーのスタイルを指定 */
    border-radius: 5px; /* 角を丸くする */
    background-color: gainsboro;
}
table th, table td{
    border: 1px solid brown; /* セルにボーダーを追加 */
		font-size:20px;
		background-color:#B2DFDB;
		width: 20vw;
    text-align: left; /* テキストを左寄せに設定 */
}
table#enemy th,table#enemy td{
    border: 1px solid brown; /* セルにボーダーを追加 */
		font-size:20px;
		background-color:#D2BFBB;
		width: 20vw;
    text-align: left; /* テキストを左寄せに設定 */
}

div#underside{
	height: 20vh;
}
div#command{
	margin:5px auto ;
	padding:10px 0 ;
	width:90vw;
	border: 1px solid black;
  display: flex;                  /* Flexboxを有効にする */
  justify-content: space-between; /* ボタンを等間隔に配置 */
	flex: 1; /* 残りのスペースを占める */
	display: flex; /* 子要素をフレックスコンテナに */
	flex-direction: row; /* 縦に並べる */
	gap: 10px; /* 子要素の間に隙間を作る */
}

div#command button {
    flex: 1; /* 各ボタンを等しい幅に */
		font-size:16px;
		background-color:#0D47A1;
		color: #EEE;
    margin: 0 10px;              /* ボタン間のマージン */
}
div#skill{
	margin: 5px auto ;
	padding: 10px 0 ;
	width: 90vw;
	border: 1px solid black;
  display: flex;                  /* Flexboxを有効にする */
  justify-content: space-between; /* ボタンを等間隔に配置 */
	flex: 1; /* 残りのスペースを占める */
	display: flex; /* 子要素をフレックスコンテナに */
	flex-direction: row; /* 縦に並べる */
	gap: 10px; /* 子要素の間に隙間を作る */
}
div#skill button {
    flex: 1; /* 各ボタンを等しい幅に */
		font-size: 16px;
		color: #EEE;
		background-color:#0D47A1;
    margin: 0 10px;              /* ボタン間のマージン */
}
.hidemode {
	opacity:0;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* ビューポートの高さを基準にする */
	margin: 0; /* 余白をなくす */
	background-color:#26C6DA;
}
div#charctor{
	display: flex; /* 子要素をフレックスコンテナに */
	flex-direction: row; /* 縦に並べる */
	flex: 1; /* 残りのスペースを占める */
}
div#rightside{
	width: 28vw;
	display: flex;
	height: 65vh;
	flex-direction: column;
	margin:auto 0 auto auto ;
	background-color:#FFF;
}
div#story{
	border: 1px solid black;
	text-align: right;
}
div#player-gold{
	border: 1px solid black;
	text-align: center;
}
div#log{
	flex: 1; /* 残りのスペースを占める */
	display: flex; /* 子要素をフレックスコンテナに */
	flex-direction: column; /* 縦に並べる */
	background-color:#FFFDE7;
}
footer {
	margin:auto 0 0 ;
	height: 5vh;
	background-color: #EFEBE9;
	text-align: center;
	padding: 10px;
}
span{
	text-align:left;
}
